<!DOCTYPE html>
<html ng-app = "sandwichApp">
<head>
	<title>The Social Sandwich</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller = "sandwichController">
<div class = "main container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="main.html">
        <div class="logo">T</div> <div class="logo">S</div> <div class="logo">S</div>
      </a>

       <a class="sandwichClass" href="index.html">
        <div><img class = "sandwichIcon" src="images/sandwichlogo.png"></div>
      </a>
      <a class="sandwichClass" href="champion.html">
        <div><img class = "trophy" src="images/trophy.png"></div>
      </a>
    </div>
  </div>
</nav>


<div class = "jumbotron">

<h2>Add a sandwich!</h2>
<form class = "mainForm">
  <div class="form-group">
    <label for="sandwichName">Sandwich Name:</label>
    <input type="text" class="form-control" id="sandwichName" placeholder="BLT with attitude" ng-model = "name">
  </div>
  <div class="form-group">

  <form class = "form-inline">
  <label>Ingredients:</label><br>
  <div class = "form-group">
  <input type="text" class = "form-control" ng-model="ingredientName" placeholder="B, L, T, Attitude"/>
  </div>
 
  <button class = "btn btn-default" ng-click="add()">Add</button>
</form>

  <ul ng-repeat = "ingredient in ingredients track by $index" class = 'sandwichList'>
  <li class = 'sandwichList'> {{$index + 1 }}. {{ ingredient }} <button ng-click="removeIngredient($index)">x</button></li>
  </ul>
 
 
  
  <br>
  <label for="recipe"><strong>Recipe:</strong></label>
  	<textarea class="form-control" rows="3" placeholder="It's a BLT. With Attitude." ng-model = "recipe"></textarea>
  	</div>
  <button type="submit" ng-click="submit()" class="btn btn-submit">Submit</button>
</form>
</div>

<hr>

<ul ng-repeat = "(sandwichIndex, sandwich) in sandwiches | orderBy: 'name'">
<li> <h3> {{sandwich.name}} </h3>  <br>
Ingredients: 
<ul ng-repeat = "(ingredientIndex, ingredient) in sandwich.ingredients track by ingredientIndex">
<a href=# ng-click="ingredientSelect(ingredientIndex, sandwichIndex)"><li> -{{ ingredient }} </li></a>
</ul>
<br>
Recipe:  {{sandwich.recipe}} <br>
<button ng-click="delete($index)" class="x"><i class="fa fa-trash"></i></button>
<br>
<br>
<strong>Comments:</strong>
<hr>
<ul ng-repeat = "(commentIndex, comment) in sandwich.comments track by commentIndex">
<div style="display: inline-block"><img class="avatar" src="images/avatar.jpg"></div><li> {{comment}} </li>
<hr>
</ul>



<form>
<textarea class="form-control" rows="3" placeholder="Comments..." ng-model = "sandwich.addedComment"></textarea>
<button ng-click="addComment(sandwichIndex)">Add your thoughts</button>
</form>
</li>
</ul>

<div ng-show = "showByIngredient" class = "sandwichPopup">
 All sandwiches with {{ selectedIngredientName }}: <br>
 <ul ng-repeat = "sis in selectedIngredientSandwiches">
 <li> {{ sis.name }} <br>
 {{sis.ingredients}} <br>
 {{sis.recipe}}
 </li>
 </ul>

<button ng-click = "close()">x</button>
</div>





<footer class = "footer"> 
<div class="container">

<p class="text-muted">Questions? Shoot me an email at tucker.kline@gmail.com</p>

</div>
</footer>
</div>

<script type="text/javascript" src="javascript.js"></script>
</body>
</html>