
.logo {
	background-color: #31A0D3;
	color: white;
	padding: 1px 8px 1px 8px;
	font-family: "courier";
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
}

.x {
	border-radius: 5px;
	color: white;
	background-color: #D32215;
	border: none;
	padding: 5px;
}

* {
	list-style-type: none;
}

.sandwichIcon {
	height: 55px; 
	vertical-align: top;
	text-align: right;	
}

.champ {
	text-align: center;

}

.champPhoto {
	border-radius: 20px;
	opacity: 0.8;
	border: 1px;

}


.sandwichClass {
	padding-top: 0px;
	float: left;
}