
.logo {
	background-color: #B86C0A;
	color: white;
	padding: 3px 8px 3px 8px;
	font-family: "Arial";
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	font-weight: bold;
}

.bigSandwich {
	float: right;
}
@media only screen and (max-width: 1200px) {
    .bigSandwich {
        width: 50%;
    }
}


.x {
	border-radius: 5px;
	color: white;
	background-color: #D32215;
	border: none;
	padding: 5px;
}

* {
	list-style-type: none;
}

.sandwichIcon {
	height: 55px; 
	vertical-align: top;
	text-align: right;	
}

.champ {
	text-align: center;

}

.champPhoto {
	border-radius: 20px;
	opacity: 0.8;
	border: 1px;

}


.sandwichClass {
	padding-left: 30px;
	padding-top: 0px;
	float: left;
}

.trophy {
	height: 48px;
	padding-top: 5px;
	padding-left: 12px;
}

.sethParent {
	text-align: center;
}
.seth {

	height: 200px;
	border-radius: 100px;
	opacity: 0.9;
}